body {
	margin: 0;
	font-family: Gotham Pro;
}

.wrapper {
	max-width: 1170px;
	margin: auto;
	box-sizing: border-box;
}

.header {
	width: 1030px;
	height: 116px;
	margin: auto;
}

.header__wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 116px;
}

.nav__link,
.sign_text,
.cart__link_text {
	color: #000;
	font-size: 12px;
	font-weight: bold;
	line-height: 11px;
	text-decoration: none;
	text-transform: uppercase;
}

.nav__link:hover, 
.sign_text:hover, 
.cart__link_text:hover {
	color: #606060;
}

.header-left {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	width: 55px;
	height: 55px;
	margin: 0 44px 0 0;
}

.nav__link {
	margin: 0 31px 0 0;
}

.header-right {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.search {
	position: relative;
	width: 178px;
	height: 19px;
	margin: 0 35px 0 0;
	border-bottom: 1px solid #000;
	transform: translateY(25%);
}

.search__input {
	border: none;
	outline: none;
}

.search__button {
	position: absolute;
	right: 0%;
	width: 14px;
	height: 14px;
	background: #fff;
	border: none;
	cursor: pointer;
}

.search__img {
	position: absolute;
	bottom: 0%;
	right: 0%;
}

.sign {
	margin: 0 35px 0 0;
}

.cart {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 35px 0 0;
}

.cart__link {
	margin: 0 4px 0 0;
}

.cart__circle {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 15px;
	height: 15px;
	box-sizing: border-box;
	background: #000;
	border: 1px solid #000;
	border-radius: 50%;
}

.cart__numb {
	color: #fff;
	font-size: 10px;
	font-weight: bold;
	line-height: 10px;
	text-transform: uppercase;
}

.lang {
	width: 20px;
	height: 20px;
}

.logo-mobile,
.burger {
	display: none;
}

.slider {
	max-width: 1030px;
	margin: auto;
}

.background-image {
	display: flex;
	justify-content: flex-start;
	width: 100%;
	max-width: 1030px;
	height: 280px;
	margin: 0 0 53px;
	box-sizing: border-box;
	background: url(../img/rob-potter-422534-unsplash.png);
	background-size: cover;
}

.image-wrap {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	width: 255px;
	height: 205px;
}

.image-inner {
	display: flex;
	flex-direction: column;
	width: 195px;
}

.slogan {
	margin: 0 0 12px;
	color: #fff;
	font-size: 30px;
	line-height: 29px;
	font-weight: bold;
	text-transform: uppercase;
}

.more__link {
	margin: 0 2px 0 0;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	line-height: 11px;
	text-decoration: none;
	text-transform: uppercase;
}

.more__link:hover {
	color: #c0c0c0;
}

.more__arrow {
	position: relative;
	display: inline-block;
	width: 43px;
	transform: translateY(-300%);
	border-bottom: 1px solid #fff;
}

.more__arrow::before, 
.more__arrow::after {
	position: absolute;
	right: 0;
	width: 5px;
	border-bottom: 1px solid #fff;
	content: '';
}

.more__arrow::after {
	transform: rotate(315deg);
	transform-origin: top right;
}

.more__arrow::before {
	transform: rotate(45deg);
	transform-origin: bottom right;
}

.title h2 {
	text-align: center;
	font-size: 22px;
	line-height: 21px;
	font-weight: bold;
	text-transform: uppercase;
}

.product-wrap {
	display: flex;
	justify-content: space-between;
	height: 287px;
}

.product {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 22%;
	height: 261px;
}

.product__img {
	margin: 0 0 24px;
}

.product__name {
  width: 206px;
	margin: 0 0 7px;
	color: #000;
	font-size: 12px;
	line-height: 11px;
	text-decoration: none;
}

.product__name:hover {
	color: #606060;
}

.product-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 206px;
	height: 14px;
}

.product__price {
	margin: 0;
	font-size: 14px;
	line-height: 13px;
	font-weight: bold;
}

.color {
	display: flex;
	align-items: center;
}

.color :last-child {
	margin: 0;
}

.color__item {
	width: 7px;
	height: 7px;
	margin: 0 8px 0 0;
	border-radius: 50%;
}

.color__item:nth-child(2){
	width: 9px;
	height: 9px;
}

.color__item_black {
	background: #0E1211;
}

.color__item_blue {
	background: #41479B;
}

.color__item_brown {
	background: #762E31;
}

.color__item_gold {
	background: #E29D69;
}

.color__item_grey {
	background: #C4C4C4;
}

.color__item_red {
	background: #B62E3C;
}

.color__item_yellow {
	background: #FDB431;
}

.line {
	width: 1px;
	height: 100px;
	margin: 0 0 90px;
	align-self: center;
	background-color: #000;
	opacity: .2;
}

.promo {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 1030px;
	height: 494px;
	margin: auto;
	background: #000;
}

.promo-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 94%;
}

.player {
	position: relative;
	width:650px;
	height: 360px;
}

.player__video {
	width: 650px;
	height: 360px;
}

.player__button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 58px;
	height: 58px;
	padding: 0;
	border: 0;
	border-radius: 50%;
	background-color: transparent;
}

.promo__desc {
	width: 266px;
}

.promo_slogan {
	margin: 0 0 14px;
	font-size: 22px;
	line-height: 27px;
}

.promo__desc p {
	margin: 0 0 14px;
	font-size: 14px;
	line-height: 17px;
	color: #FFFFFF;
}

.more-promo__arrow::before, 
.more-promo__arrow::after {
	top: .5px;
}

.stories {
	max-width: 1030px;
	height: 810px;
	margin: auto;
}

.title-wrap {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	height: 140px;
}

.stories-title {
	display: flex;
	align-items: flex-end;
	height: 115px;
}

.stories-wrap {
	display: flex;
	justify-content: space-between;
}

.stories-box {
	width: 307px;
}

.stories-box a {
	text-decoration: none;
}

.stories-box__img {
	width: 100%;
	max-width: 307px;
	height: 148px;
	margin: 0 0 28px;
}

.stories-box__subtitle {
	margin: 0 0 10px;
	font-size: 18px;
	line-height: 17px;
	color: #000;
}

.stories-box__subtitle:hover {
	color: #606060;
}

.stories-box__text {
	margin: 0 0 14px;
	font-size: 14px;
	line-height: 18px;
	color: #000;
}

.stories-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 12px;
}

.more__link-stories {
	color: #000;
}

.more__arrow-stories {
	width: 28px;
	border-bottom: 1px solid #000;
}

.more__arrow-stories::before, 
.more__arrow-stories::after {
	border-bottom: 1px solid #000;
}

.time {
	font-size: 12px;
	line-height: 11px;
	font-weight: bold;
	color: #000;
	opacity: 0.3;
}

.hashtag {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	height: 105px;
}

.hashtag p {
	margin: 0 0 10px;
	text-align: right;
	font-size: 18px;
	line-height: 17px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000;
	opacity: 0.3;
}

.gallery-wrap {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.gallery-wrap img {
	margin-right: -1px;
}

.gallery-wrap img:last-child {
	display: none;
}

.footer {
	width: 100%;
	height: 296px;
	background: #000;
}

.footer-wrap {
	display: flex;
	align-items: flex-end;
	width: 776px;
	height: 195px;
	margin: auto;
}

.footer-inner {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 125px;
}

.footer-menu__title,
.footer-menu__link,
.rights__text {
	font-size: 12px;
	line-height: 11px;
	color: #fff;
}

.footer-menu__title {
	text-transform: uppercase;
	margin: 0 0 7px;
}

.footer-menu__link {
	text-decoration: none
}

.footer-menu__link:hover {
	color: #c0c0c0;
}

.footer-menu ul {
  margin: 0;
  padding: 0;
}

.footer-menu__items li {
	list-style-type: none;
}

.discount {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.footer-menu__link p {
	margin: 0 0 14px 0;
}

.footer-button {
	width: 136px;
	height: 30px;
	box-sizing: border-box;
	border: 1.5px solid #fff;
	background: #000;
	font-size: 10px;
	line-height: 10px;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
}

.footer-button:hover {
	font-size: 11px;
	line-height: 11px;
}

.social {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	width: 136px;
}

.copyrights {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	width: 98%;
	height: 85px;
}

.copyrights-wrap {
	display: flex;
	justify-content: space-between;
	width: 58%;
}

@media (min-width: 1024px) and (max-width: 1169px) {

	.wrapper {
		max-width: 1169px;
	}

	.header {
		width: 930px;
		height: 128px;
	}

	.header__wrap {
		height: 117px;
	}

	.logo {
		width: 61px;
		height: 55px;
		margin: 0 29px 0 0;
	}

	.logo img {
		width: 100%;
		max-width: 61px;
		height: auto;
	}

	.search {
		width: 160px;
		margin: 0 32px 0 0; 
		transform: translateY(22%);
	}

	.search__button {
		right: 1%;
		bottom: 30%;
	}

	.sign {
		margin: 0 27px 0 0;
	}

	.cart {
		margin: 0 24px 0 0;
	}

	.slider {
		width: 930px;
	}
	
	.background-image {
		max-width: 930px;
		height: 254px;
		margin: 0 0 66px;
	}

	.image-wrap {
		width: 248px;
		height: 186px;
	}

	.image-inner {
		width: 194px;
	}

	.slogan {
		margin: 0 0 5px;
	}

	.more__link {
		margin: 0 7px 0 0;
	}

	.more__arrow {
		width: 45px;
	}

	.more__arrow::before, 
	.more__arrow::after {
		width: 5px;
		top: .5px;
	}

	.product__img {
		width: 170px;
		height: 173px;
	}

	.product-wrap {
		height: 312px;
	}

	.product__name {
  	width: 186px;
	}

	.product-inner {
		width: 186px;
	}

	.promo {
		max-width: 930px;
		height: 442px;
	}

	.player {
		width: 580px;
	  height: 323px;
	}

	.player__video {
		width: 580px;
		height: 323px;
	}

	.player__button {
		width: 52px;
		height: 52px;
	}

	.player__button img {
		width: 100%;
		max-width: 52px;
		height: auto;
	}

	.promo__desc {
		width: 248px;
	}

	.promo_slogan {
		margin: 0 0 10px;
	}

	.promo__desc p {
		margin: 0 0 13px;
		font-size: 13px;
		line-height: 16px;
	}

	.more-promo__arrow::before, 
	.more-promo__arrow::after {
		top: 0;
	}

	.stories {
		max-width: 930px;
		height: 838px;
		margin: auto;
	}

	.title-wrap {
		height: 158px;
	}

	.stories-title {
		height: 132px;
	}

	.stories-box {
		width: 277px;
	}

	.stories-box__img {
		width: 100%;
		max-width: 277px;
		height: 148px;
	}

	.stories-box__text {
		margin: 0 0 22px;
		font-size: 13px;
		line-height: 16px;
	}

	.more__link-stories {
		margin: 0;
	}

	.more__arrow-stories {
		width: 20px;
	}

	.more__arrow-stories::before, 
	.more__arrow-stories::after {
		top: 0;
	}

	.hashtag {
		height: 118px;
	}

	.gallery-wrap img {
		width: 133px;
		height: 133px;
	}

	.gallery-wrap img:last-child {
		display: none;
	}

	.copyrights {
		width: 96%;
}
}

@media (min-width: 768px) and (max-width: 1023px) {

	.wrapper {
		max-width: 1023px;
	}

	.header {
		width: 89%;
		height: 113px;
	}

	.header__wrap {
		height: 113px;
	}

	.header-left,
	.header-right {
		display: none;
	}

	.logo-mobile {
		display: block;
		width: 157px;
		height: 35px;
	}

	.burger {
		display: block;
		width: 60px;
	}

	.burger :first-child {
		margin: 0 0 8px;
	}

	.burger__line {
		display: block;
		width: 60px;
		height: 9px;
		background: #000;
	}

	.slider {
		width: 100%;
	}

	.background-image {
		height: 415px;
		margin: 0 0 65px;
		background-position: -123px;
	}

	.image-wrap {
		width: 370px;
		height: 332px;
	}

	.image-inner {
		width: 325px;
	}

	.slogan {
		margin: 0 0 48px;
		font-size: 50px;
		line-height: 48px;
	}

	.more__link {
		margin-right: 6px;
		font-size: 20px;
		line-height: 19px;
	}

	.more__arrow {
		width: 70px;
		border-bottom: 2px solid #fff;
	}

	.more__arrow::before, 
	.more__arrow::after {
		width: 10px;
		border-bottom: 2px solid #fff;
	}

	.title h2 {
		margin: 0 0 30px;
		font-size: 30px;
		line-height: 29px;
	}

	.product:nth-child(n+4) {
		display: none;
	}

	.line {
		display: none;
	}

	.product-wrap {
		display: flex;
		justify-content: space-evenly;
		height: 358px;
	}

	.product {
		width: 31%;
		height: 352px;
	}

	.product__img {
		width: 235px;
		height: 220px;
		margin: 0 0 26px;
	}

	.product__name {
		width: 258px;
		margin: 0 0 22px;
		font-size: 20px;
		line-height: 19px;
	}

	.product-inner {
		width: 258px;
	}

	.product__price {
		font-size: 25px;
		line-height: 24px;
	}

	.color__item,
	.color__item:nth-child(2) {
		width: 20px;
		height: 20px;
	}

	.product1 .color__item:nth-child(1){
		background: #B62E3C;
	}

	.product1 .color__item:nth-child(3){
		background: #C4C4C4;
	}

	.promo {
		position: relative;
		width: 100%;
		max-width: 1023px;
		height: 715px;
		overflow: hidden;
	}

	.promo:before {
		position: absolute;
		content:"";
		left: 0;
		top: 0;
		border-top: 46px solid #fff;
		border-left: 1023px solid #000;
	}

	.promo-wrap {
		flex-direction: column-reverse;
		height: 545px;
	}

	.player {
		width: 696px;
		height: 390px;
	}

	.player__video {
		width: 696px;
		height: 390px;
	}

	.player__button {
		width: 62px;
		height: 62px;
	}

	.player__button img {
		width: 100%;
		max-width: 62px;
		height: auto;
	}

	.promo__desc {
		width: 670px;
		text-align: center;
	}

	.promo_slogan {
		margin: 0 0 16px;
		font-size: 30px;
		line-height: 37px;
	}

	.promo__desc p {
		font-size: 20px;
		line-height: 25px;
		margin: 0;
	}

	.more-promo {
		display: none;
	}
	
	.stories {
		position: relative;
		width: 100%;
		height: 1215px;
		background: linear-gradient(-177deg, #000 0%, #000 72%, #fff 72%, #fff 100%);
	}

	.title-wrap {
		height: 98px;
	}

	.stories-title {
		height: 54px;
	}

	.stories-title h2 {
		margin: 0;
		font-size: 30px;
		line-height: 29px;
		color: #fff;
	}

	.stories-wrap {
		max-width: 680px;
		margin: auto;
	}

	.stories-box {
		width: 312px;
	}

	.stories-box__img {
		width: 100%;
		max-width: 312px;
		height: 166px;
	}

	.stories-box__subtitle {
		font-size: 25px;
		line-height: 24px;
		color: #fff;
	}

	.stories-box__text {
		margin: 0 0 40px;
		font-size: 20px;
		line-height: 25px;
		color: #fff;
	}

	.more__link-stories {
		color: #fff;
	}

	.more__arrow-stories {
		width: 45px;
	}

	.time {
		font-size: 15px;
		line-height: 14px;
		color: #D1D1D1;
		opacity: 1;
	}

	.stories-wrap .stories-box:last-child {
		display: none;
	}

	.hashtag {
		max-width: 680px;
		height: 170px;
		margin: auto;
	}

	.hashtag p {
		margin: 0 0 10px;
		font-size: 30px;
		line-height: 29px;
		color: #E8E8E8;
		opacity: 1;
	}

	.gallery-wrap {
		max-width: 696px;
		margin: auto;
	}

	.gallery-wrap img {
		width: 170px;
		height: 170px;
	}

	.gallery-wrap img:last-child {
		display: flex;
	}

	.footer {
		height: 303px;
	}

	.footer-wrap {
		width: 680px;
		height: 185px;
	}

	.footer-menu__title {
		margin: 0 0 4px;
	}

	.footer-menu__link p {
		width: 155px;
		margin: 0 0 8px 0;
		line-height: 15px;
		word-spacing: 4px;
	}

	.footer-button {
		width: 145px;
		height: 26px;
	}

	.social {
		width: 122px;
	}

	.social img {
		width: 16px;
		height: 16px;
	}

	.webhero {
		display: none;
	}

	.copyrights {
		justify-content: center;
		width: 100%;
		height: 96px;
	}

	.copyrights-wrap {
		width: 198px;
	}
}

@media (min-width: 480px) and (max-width: 767px) {

	.wrapper {
		max-width: 767px;
	}

	.header {
		width: 89%;
		height: 85px;
	}

	.header__wrap {
		height: 85px;
	}

	.header-left,
	.header-right {
		display: none;
	}

	.logo-mobile {
		display: block;
		width: 104px;
		height: 22px;
	}

	.logo-mobile img {
 		width: 100%;
	  max-width: 104px;
	  height: auto;
	}

	.burger {
		display: block;
		width: 41px;
	}

	.burger :first-child {
		margin: 0 0 6px;
	}

	.burger__line {
		display: block;
		width: 41px;
		height: 6px;
		background: #000;
	}

	.slider {
		width: 100%;
	}
	
	.background-image {
		height: 300px;
		background-position: -88px;
	}

	.image-wrap {
		width: 265px;
		height: 240px;
	}

	.image-inner {
		width: 230px;
	}

	.slogan {
		margin: 0 0 25px;
		font-size: 35px;
		line-height: 34px;
	}

	.more__link {
		margin: 0 6px 0 0;
		font-size: 16px;
		line-height: 15px;
	}

	.more__arrow {
		width: 62px;
		border-bottom: 2px solid #fff;
		transform: translateY(-200%);
	}

	.more__arrow::before, 
	.more__arrow::after {
		width: 7px;
		border-bottom: 2px solid #fff;
	}

	.product:nth-child(n+3) {
		display: none;
	}

	.line {
		display: none;
	}

	.product-wrap {
		display: flex;
		justify-content: center;
		height: 358px;
	}

	.product {
		width: 50%;
		height: 352px;
	}

	.product__img {
		width: 235px;
		height: 220px;
		margin: 0 0 26px;
	}

	.product__name {
		width: 258px;
		margin: 0 0 22px;
		font-size: 20px;
		line-height: 19px;
	}

	.product-inner {
		width: 258px;
	}

	.product__price {
		font-size: 25px;
		line-height: 24px;
	}

	.color__item,
	.color__item:nth-child(2) {
		width: 20px;
		height: 20px;
	}

	.product1 .color__item:nth-child(1){
		background: #B62E3C;
	}

	.product1 .color__item:nth-child(3){
		background: #C4C4C4;
	}

	.promo {
		position: relative;
		width: 100%;
		height: 550px;
		overflow: hidden;
	}

	.promo:before {
		position: absolute;
		content:"";
		left: 0;
		top: 0;
		border-top: 46px solid #fff;
		border-left: 1023px solid #000;
	}

	.promo-wrap {
		flex-direction: column-reverse;
		height: 450px;
	}

	.player {
		width: 440px;
		height: 260px;
	}

	.player__video {
		width: 440px;
		height: 260px;
	}

	.player__button {
		width: 42px;
		height: 42px;
	}

	.player__button img {
		width: 100%;
		max-width: 42px;
		height: auto;
	}

	.promo__desc {
		width: 440px;
		text-align: center;
	}

	.promo_slogan {
		margin: 0 0 16px;
		font-size: 25px;
		line-height: 31px;
	}

	.promo_slogan span {
		white-space: nowrap;
	}

	.promo__desc p {
		margin: 0;
		font-size: 17px;
		line-height: 21px;
	}

	.more-promo {
		display: none;
	}

	.stories {
		position: relative;
		width: 100%;
		height: 1050px;
		background: linear-gradient(-177deg, #000 0%, #000 74%, #fff 74%, #fff 100%);
	}

	.title-wrap {
		height: 98px;
	}

	.stories-title {
		height: 68px;
	}

	.stories-title h2 {
		margin: 0;
		font-size: 26px;
		line-height: 25px;
		color: #fff;
	}

	.stories-wrap {
		justify-content: center;
	}

	.stories-box:nth-child(n+2) {
		display: none;
	}

	.stories-box {
		width: 440px;
	}

	.stories-box__img {
		width: 100%;
		max-width: 440px;
		height: 230px;
	}

	.stories-box__subtitle {
		font-size: 25px;
		line-height: 24px;
		color: #fff;
	}

	.stories-box__text {
		margin: 0 0 40px;
		font-size: 17px;
		line-height: 21px;
		color: #fff;
	}

	.more__link-stories {
		color: #fff;
	}

	.time {
		font-size: 15px;
		line-height: 14px;
		color: #D1D1D1;
		opacity: 1;
	}

	.stories-wrap .stories-box:last-child {
		display: none;
	}

	.more__arrow-stories {
		width: 45px;
	}

	.hashtag {
		width: 450px;
		height: 130px;
		margin: auto;
	}

	.hashtag p {
		margin: 0 0 10px;
		font-size: 25px;
		line-height: 24px;
		color: #E8E8E8;
		opacity: 1;
	}

	.gallery-wrap {
		width: 450px;
		margin: auto;
	}

	.gallery-wrap img {
		width: 150px;
		height: 150px;
	}

	.gallery-wrap img:nth-child(7) {
		display: none;
	}

	.footer {
		height: 898px;
	}

	.footer-wrap {
		width: 180px;
		height: 828px;
	}

	.footer-inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		height: 790px;
	}

	.footer-menu:nth-child(2) {
		order: 1;
	}

	.footer-menu:nth-child(4) {
		order: 1;
	}

	.footer-menu {
		text-align: center;
	}

	.footer-menu__title,
	.footer-menu__link {
		font-size: 15px;
		line-height: 14px;
	}

	.footer-menu__title {
		margin: 0 0 4px;
	}

	.footer-menu__items li {
		margin: 0 0 6px;
	}

	.discount {
		height: 200px;
	}

	.discount .footer-menu__title {
		margin: 0 0 12px;
	}

	.footer-menu__link p {
		margin: 0 0 22px;
	}

	.footer-button {
		width: 150px;
		height: 37px;
		font-size: 12px;
		line-height: 11px;
	}

	.social {
		width: 100%;
	}

	.social img {
		width: 22px;
		height: 22px;
	}

	.copyrights {
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 67px;
	}

	.copyrights-wrap {
		width: 218px;
	}

	.rights__text {
		margin: 0;
		font-size: 13px;
		line-height: 12px;
	}

	.webhero {
		display: none;
	}
}

@media (min-width: 375px) and (max-width: 479px) {

	.wrapper {
		max-width: 479px;
	}

	.header {
		width: 75%;
		height: 71px;
	}

	.header__wrap {
		height: 68px;
	}

	.header-left,
	.header-right {
		display: none;
	}

	.logo-mobile {
		display: block;
		width: 104px;
		height: 22px;
	}

	.logo-mobile img {
		width: 100%;
		max-width: 104px;
		height: auto;
	}

	.burger {
		display: block;
		width: 41px;
	}

	.burger :first-child {
		margin-bottom: 6px;
	}

	.burger__line {
		display: block;
		width: 41px;
		height: 6px;
		background: #000;
	}

	.slider {
		width: 100%;
	}
	
	.background-image {
		height: 191px;
		margin: 0 0 38px;
		background-position: -61px;
	}

	.image-wrap {
		width: 178px;
		height: 155px;
	}

	.image-inner {
		width: 130px;
	}

	.slogan {
		margin: 0 0 15px;
		font-size: 20px;
		line-height: 19px;
	}

	.more__link {
		margin: 0 3px 0 0;
		font-size: 12px;
		line-height: 11px;
	}

	.more__arrow {
		width: 45px;
		border-bottom: 2px solid #fff;
		transform: translateY(-200%);
	}

	.more__arrow::before, 
	.more__arrow::after {
		width: 5px;
		border-bottom: 2px solid #fff;
	}

	.title h2 {
		margin: 0;
		font-size: 20px;
		line-height: 19px;
	}

	.product:nth-child(n+3) {
		display: none;
	}

	.line {
		display: none;
	}

	.product-wrap {
		display: flex;
		justify-content: center;
		height: 294px;
	}

	.product {
		width: 281px;
		height: 248px;
	}

	.product__img {
		width: 163px;
		height: 155px;
	}

	.product__name {
		width: 251px;
		margin: 0 0 10px;
		font-size: 15px;
		line-height: 14px;
	}

	.product-inner {
		width: 251px;
	}

	.product__price {
		font-size: 20px;
		line-height: 19px;
	}

	.color__item,
	.color__item:nth-child(2) {
		width: 15px;
		height: 15px;
		margin: 0 3px 0 0;
	}

	.product1 .color__item:nth-child(1){
		background: #B62E3C;
	}

	.product1 .color__item:nth-child(3){
		background: #C4C4C4;
	}

	.promo {
		position: relative;
		width: 100%;
		height: 420px;
		overflow: hidden;
	}

	.promo:before {
		position: absolute;
		content:"";
		left: 0;
		top: 0;
		border-top: 46px solid #fff;
		border-left: 1023px solid #000;
	}

	.promo-wrap {
		flex-direction: column-reverse;
		height: 335px;
	}

	.player {
		width: 280px;
		height: 156px;
	}

	.player__video {
		width: 280px;
		height: 156px;
	}

	.player__button {
		width: 24px;
		height: 24px;
	}

	.player__button img {
		width: 100%;
		max-width: 24px;
		height: auto;
	}

	.promo__desc {
		width: 281px;
		text-align: center;
	}

	.promo_slogan {
		margin: 0 0 16px;
		font-size: 20px;
		line-height: 25px;
	}

	.promo_slogan span {
		white-space: nowrap;
	}

	.promo__desc p {
		font-size: 14px;
		line-height: 17px;
		margin: 0;
	}

	.more-promo {
		display: none;
	}

	.stories {
		position: relative;
		width: 100%;
		height: 1115px;
		background: linear-gradient(-177deg, #000 0%, #000 75%, #fff 75%, #fff 100%);
	}

	.title-wrap {
		height: 108px;
	}

	.stories-title {
		height: 80px;
	}

	.stories-title h2 {
		margin: 0;
		color: #fff;
	}

	.stories-wrap {
		justify-content: center;
	}

	.stories-box {
		width: 280px;
	}

	.stories-box:nth-child(n+2) {
		display: none;
	}

	.stories-box__img {
		width: 100%;
		max-width: 280px;
		height: 148px;
	}

	.stories-box__subtitle {
		font-size: 20px;
		line-height: 19px;
		color: #fff;
	}

	.stories-box__text {
		margin: 0 0 26px;
		font-size: 14px;
		line-height: 17px;
		color: #fff;
	}

	.more__link-stories {
		margin: 0 6px 0 0;
		color: #fff;
	}

	.more__arrow-stories {
		width: 40px;
	}

	.time {
		font-size: 15px;
		line-height: 14px;
		color: #D1D1D1;
		opacity: 1;
	}

	.hashtag {
		justify-content: center;
		width: 89%;
		height: 138px;
		margin: auto;
	}

	.hashtag p {
		margin: 0 0 10px;
		font-size: 25px;
		line-height: 24px;
		color: #E8E8E8;
		opacity: 1;
	}

	.gallery-wrap {
		width: 89%;
		margin: auto;
	}

	.gallery-wrap img {
		width: 140px;
		height: 140px;
	}

	.gallery-wrap img:nth-child(4) {
		display: none;
	}

	.gallery-wrap img:nth-child(3) {
		order: 3;
	}

	.gallery-wrap img:nth-child(5) {
		order: 1;
	}

	.footer {
		height: 898px;
	}

	.footer-wrap {
		width: 180px;
		height: 828px;
	}

	.footer-inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		height: 790px;
	}

	.footer-menu:nth-child(2) {
		order: 1;
	}

	.footer-menu:nth-child(4) {
		order: 1;
	}

	.footer-menu {
		text-align: center;
	}

	.footer-menu__title,
	.footer-menu__link {
		font-size: 15px;
		line-height: 14px;
	}

	.footer-menu__title {
		margin: 0 0 4px;
	}

	.footer-menu__items li {
		margin: 0 0 6px;
	}

	.discount {
		height: 240px;
	}

	.discount .footer-menu__title {
		margin: 0 0 12px;
	}

	.footer-menu__link p {
		margin: 0 0 22px;
	}

	.footer-button {
		width: 150px;
		height: 37px;
		font-size: 12px;
		line-height: 11px;
	}

	.social {
		width: 100%;
	}

	.social img {
		width: 22px;
		height: 22px;
	}

	.copyrights {
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 67px;
	}

	.copyrights-wrap {
		width: 218px;
	}

	.rights__text {
		margin: 0;
		font-size: 13px;
		line-height: 12px;
	}

	.webhero {
		display: none;
	}
}

@media (max-width: 374px) {

	.wrapper {
		min-width: 320px;
	}

	.header {
		width: 87%;
		height: 71px;
	}

	.header__wrap {
		height: 68px;
	}

	.header-left,
	.header-right {
		display: none;
	}

	.logo-mobile {
		display: block;
		width: 104px;
		height: 22px;
	}

	.logo-mobile img {
		width: 100%;
		max-width: 104px;
		height: auto;
	}

	.burger {
		display: block;
		width: 41px;
	}

	.burger :first-child {
		margin: 0 0 6px;
	}

	.burger__line {
		display: block;
		width: 41px;
		height: 6px;
		background: #000;
	}

	.slider {
		width: 100%;
	}
	
	.background-image {
		height: 191px;
		margin: 0 0 38px;
		background-position: -88px;
		background-repeat: no-repeat;
	}

	.image-wrap {
		width: 150px;
		height: 155px;
	}

	.image-inner {
		width: 130px;
	}

	.slogan {
		margin: 0 0 12px;
		font-size: 20px;
		line-height: 20px;
	}

	.more__link {
		margin: 0 3px 0 0;
		font-size: 12px;
		line-height: 11px;
	}

	.more__arrow {
		width: 45px;
		border-bottom: 2px solid #fff;
		transform: translateY(-150%);
	}

	.more__arrow::before, 
	.more__arrow::after {
		width: 5px;
		border-bottom: 2px solid #fff;
	}

	.title h2 {
		margin: 0;
		font-size: 20px;
		line-height: 19px;
	}

	.product:nth-child(n+3) {
		display: none;
	}

	.line {
		display: none;
	}

	.product-wrap {
		display: flex;
		justify-content: center;
		height: 296px;
	}

	.product {
		width: 255px;
		height: 220px;
	}

	.product__img {
		width: 163px;
		height: 155px;
	}

	.product__name {
		margin: 0 0 10px;
		width: 255px;
		font-size: 15px;
		line-height: 14px;
	}

	.product-inner {
		width: 255px;
	}

	.product__price {
		font-size: 20px;
		line-height: 19px;
	}

	.color__item,
	.color__item:nth-child(2) {
		width: 15px;
		height: 15px;
		margin: 0 3px 0 0;
	}

	.product1 .color__item:nth-child(1){
		background: #B62E3C;
	}

	.product1 .color__item:nth-child(3){
		background: #C4C4C4;
	}

	.promo {
		position: relative;
		width: 100%;
		height: 420px;
		overflow: hidden;
	}

	.promo:before {
		position: absolute;
		content:"";
		left: 0;
		top: 0;
		border-top: 46px solid #fff;
		border-left: 1023px solid #000;
	}

	.promo-wrap {
		flex-direction: column-reverse;
		height: 335px;
	}

	.player {
		width: 280px;
		height: 156px;
	}

	.player__video {
		width: 280px;
		height: 156px;
	}

	.player__button {
		width: 24px;
		height: 24px;
	}

	.player__button img {
		width: 100%;
		max-width: 24px;
		height: auto;
	}

	.promo__desc {
		width: 281px;
		text-align: center;
	}

	.promo_slogan {
		margin: 0 0 16px;
		font-size: 20px;
		line-height: 25px;
	}

	.promo_slogan span {
		white-space: nowrap;
	}

	.promo__desc p {
		margin: 0;
		font-size: 14px;
		line-height: 17px;
	}

	.more-promo {
		display: none;
	}

	.stories {
		position: relative;
		width: 100%;
		height: 1115px;
		background: linear-gradient(-177deg, #000 0%, #000 75%, #fff 75%, #fff 100%);
	}

	.title-wrap {
		height: 106px;
	}

	.stories-title {
		height: 78px;
	}

	.stories-title h2 {
		margin: 0;
		color: #fff;
	}

	.stories-wrap {
		justify-content: center;
	}

	.stories-box {
		width: 280px;
	}

	.stories-box:nth-child(n+2) {
		display: none;
	}

	.stories-box__img {
		width: 100%;
		max-width: 280px;
		height: 148px;
	}

	.stories-box__subtitle {
		font-size: 20px;
		line-height: 19px;
		color: #fff;
	}

	.stories-box__text {
		margin: 0 0 26px;
		font-size: 14px;
		line-height: 17px;
		color: #fff;
	}

	.more__link-stories {
		margin: 0 6px 0 0;
		color: #fff;
	}

	.more__arrow-stories {
		width: 40px;
	}

	.time {
		font-size: 15px;
		line-height: 14px;
		color: #D1D1D1;
		opacity: 1;
	}

	.hashtag {
		justify-content: center;
		width: 89%;
		height: 138px;
		margin: auto;
	}

	.hashtag p {
		margin: 0 0 10px;
		font-size: 25px;
		line-height: 24px;
		color: #E8E8E8;
		opacity: 1;
	}

	.gallery-wrap {
		width: 89%;
		margin: auto;
	}

	.gallery-wrap img {
		width: 140px;
    height: 140px;
	}

	.gallery-wrap img:nth-child(4) {
		display: none;
	}

	.gallery-wrap img:nth-child(3) {
		order: 3;
	}

	.gallery-wrap img:nth-child(5) {
		order: 1;
	}

	.footer {
		height: 898px;
	}

	.footer-wrap {
		width: 180px;
		height: 828px;
	}

	.footer-inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		height: 790px;
	}

	.footer-menu:nth-child(2) {
		order: 1;
	}

	.footer-menu:nth-child(4) {
		order: 1;
	}

	.footer-menu {
		text-align: center;
	}

	.footer-menu__title,
	.footer-menu__link {
		font-size: 15px;
		line-height: 14px;
	}

	.footer-menu__title {
		margin: 0 0 4px;
	}

	.footer-menu__items li {
		margin: 0 0 6px;
	}

	.discount {
		height: 240px;
	}

	.discount .footer-menu__title {
		margin: 0 0 12px;
	}

	.footer-menu__link p {
		margin: 0 0 22px;
	}

	.footer-button {
		width: 150px;
		height: 37px;
		font-size: 12px;
		line-height: 11px;
	}

	.social {
		width: 100%;
	}

	.social img {
		width: 22px;
		height: 22px;
	}

	.copyrights {
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 67px;
	}

	.copyrights-wrap {
		width: 218px;
	}

	.rights__text {
		margin: 0;
		font-size: 13px;
		line-height: 12px;
	}

	.webhero {
		display: none;
	}
}